body {
    background-color: #f2f2f2;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #333
}

h1, h2 {
    font-size: 1.6em;
}
p {
    line-height: 28px;
    margin-bottom: 25px
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.centered {
    text-align: center
}



a {
    color: #ba5535;
    word-wrap: break-word;
    transition: color .2s ease-in, background .1s ease-in;
}

a:hover, a:focus {
    color: rgba(12, 12, 24, 0.9);
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    outline: 0
}


.disabled {
    color: rgba(0, 0, 0, 0.2);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

.btn {
    border-radius: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0d0d25
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0d0d25
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0d0d25;
    outline: 0
}

/* Tutorial */

#tut {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}

#tut i {
    font-size: 70px;
    color: #2f2f2f;
    padding-bottom: 30px;
    padding-left: 23px;
    padding-right: 23px
}

#tut i:hover {
    color: #f1c40f
}

#tut h1 {
    font-size: 90px
}

/* End Tutorial */

body {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 0
}


i:hover {
    color: #f1c40f
}


/* A Band of Colour */

.band-dark {
    background: #374a5c;
    padding-top: 10px;
    padding-bottom: 50px
}

.band-dark a {
    color: #fff;
}

.band-dark p {
    color: #fff;
}

.band-dark h3 {
    color: #fff;
}

/* Add a nm class if you want to get rid of a default padding */
.nm {
   padding-bottom: 0 !important;
}

.band-bright {
    background: #f17b40;
    padding-top: 50px;
    padding-bottom: 50px
}

.band-bright h3 {
    color: #fff
}

.band-bright p {
    font-weight: 500
}

/* Footer */

#footer a {
    color: #ffffff;
    font-weight: bold;
}

#footer h3 {
    color: #fff
}

#footer p {
    color: #fff
}



.blog-date {
    display: block;
    padding-top: 40px
}

.blog-date p {
    text-align: right;
    margin-right: 10px;
    font-size: 13px;
    letter-spacing: 1px
}

.blog-date h6 {
    font-weight: 800;
    text-align: right;
    margin-right: 10px;
    letter-spacing: 1px
}

.blog-title {
    padding-top: 40px;
    margin-bottom: 20px
}

.blog-title h2 {
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
    margin-left: 5px
}

.blog-post {
    text-align: left;
    margin-right: 0;
    font-size: 16px
}

.blog-post h2 {
    margin-top: 0;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: left;
    font-weight: 400;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px
}

.blog-post em {
    text-align: left;
    font-size: 18px;
    color: #11124c
}

.blog-post i {
    letter-spacing: 10px
}

.blog-post p {
    margin-bottom: 20px
}

.blog-post blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 4px solid #f1954b;
    color: #595959;
    font-size: 19px
}

.blog-post h4 {
    margin-top: 0;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 700
}

.sidebar {
    padding-top: 40px;
    padding-bottom: 120px;
    margin-bottom: 0
}

.sidebar i {
    vertical-align: middle;
    margin-bottom: 4px;
    padding-right: 4px;
}

.sidebar h4 {
    font-weight: 500
}

.sidebar p {
    font-size: 14px
}

.sidebar h6 {
    font-weight: 700
}



@media screen and (max-width: 400px) {
    #dark-band .col-lg-2 {
        padding-left: 20%
    }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
    #dark-band .col-lg-2 {
        padding-left: 30%
    }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    #dark-band .col-lg-2 {
        padding-left: 30%
    }
}