{% macro render_blog_post(post, from_index=false) %}
    <br/>
{#    <img class="img-responsive" src="https://placehold.it/1680x150" alt="">#}
    <div class="row">
        <div class="col-md-3 blog-date">
            <p>
                {{ post.pub_date }}
            </p>
        </div><!-- /col3 Blog Date -->
        <div class="col-md-9 blog-title">
            {% if from_index %}
            <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
            {% else %}
            <h2>{{ post.title }}</h2>
            {% endif %}
        </div><!-- /col9 Blog Title -->
    </div><!-- /row -->

    <div class="col-md-9 col-md-offset-3 blog-post">
            {{ post.body }}
    </div><!-- /col9 -->

    <div class="col-md-9 col-md-offset-3 blog-footer">
    <p><i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i></p>
    </div><!-- /col9 -->
{% endmacro %}
