
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Footprints</h3>
                <p>
                    Find me on
                    <a href="https://github.com/doobeh">Github</a>,
                    <a href="https://twitter.com/ergoio">Twitter</a>,
                    or wandering around the island of
                    Providenciales in the Turks and Caicos.<br/>
                </p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div>