<!-- === SIDEBAR === -->

        <div class="col-lg-4 sidebar">
            <h4>SCRIBBLES <i class="icon-chevron-down"></i></h4>

                {% for scribble in site.query('/scribbles') %}
                <p><a href="{{ scribble.link }}">{{ scribble.title }}</a> &mdash; {{ scribble.notes }}</p>
                {% endfor %}


            <h6>CATEGORIES</h6>
            <p>
                <i class="fa fa-cog"></i> WIP<br/>
            </p>
            <br />

        </div><!-- /col-lg-4 -->
        <!-- === CLOSE SIDEBAR === -->