<!-- Yellow Wrap / Testimonial Carousel-->
<div id="y">
    <div class="container">
        <div class="row centered">
        <br>
            <div class="col-lg-10 col-lg-offset-1">
                <div id="carousel-example-generic" class="carousel slide">
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <h1>Working with Smart was amazing. Their team is incredible.</h1>
                        </div>
                        <div class="item">
                          <h1>It is my third project with Smart. This team Rocks!</h1>
                        </div>
                      </div><!-- /carousel-inner -->
                <br>
                <br>
                <br>
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  </ol>
                </div><!-- /carousel-example -->
            </div><!-- /col-lg-10 -->
        </div><!-- /row -->
        <br>
    </div><!-- /container -->
</div>
<!-- Yellow Wrap / Testimonial Carousel-->