{% extends "layout.html" %}
{% from 'macros/wrap.html' import render_wrap %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

    <div class="container">
        <br />
        <div class="col-lg-10 col-lg-offset-1 centered">
            <h2>{{ this.title }}</h2>
            <br />
            <hr />
            {{ this.body }}
        </div>
    </div><!-- /container -->

    <!-- Footer Wrap -->
	<div class="band-dark nm">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h3>Blog</h3>
					<p>
						{% for post in site.query('/blog').limit(5) %}
                        <a href="{{ post|url }}">{{ post.title }}</a><br />
                        {% endfor %}
					</p>
				</div>
                <div class="col-lg-4">
					<h3>Tutorials</h3>
					<p>
						{% for post in site.query('/tutorials').limit(5) %}
                        <a href="{{ post|url }}">{{ post.title }}</a><br />
                        {% endfor %}
					</p>
				</div>
                <div class="col-lg-4">
					<h3>Scribbles</h3>
					<p>
						{% for post in site.query('/scribbles').limit(3) %}
                        <a href="{{ post.link }}">{{ post.title }}</a>&mdash; {{ post.notes }}<br />
                        {% endfor %}
					</p>
				</div>

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Footer wrap -->

{% endblock %}
